<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 50%;
            margin: 100px auto;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        input[type="text"] {
            width: 80%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            padding: 10px 20px;
            border: none;
            background: #28a745;
            color: white;
            cursor: pointer;
            border-radius: 5px;
        }
        button:hover {
            background: #218838;
        }
        .short-url {
            margin-top: 20px;
            font-size: 18px;
            color: #28a745;
        }
        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            background: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: center;
        }
        th {
            background-color: #28a745;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #ddd;
        }
        a {
            color: #28a745;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        
    </style>
    
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <% if (locals.id) { %>
         <p class="short-url" id="shortUrl">URL Generated: http://localhost:9001/url/<%=id %></p>
        <% } %>
        <form id="urlForm" method="POST" action="/url">
            <input type="text" id="urlInput"name="url" placeholder="https://example.com" required>
            <button type="submit">Generate</button>
        </form>
    </div>
    <div>
        <% if (locals.urls) { %>
            
         <table>
            <thead>
                <th>Sr.No</th>
                <th>ShortId</th>
                <th>Redirect</th>
                <th>Clicks</th>
            </thead>
            <tbody>
                <% urls.forEach((url,index) => { %>
                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= url.shortId %></td>
                        <td><a href="<%= url.redirectUrl %>"><%= url.redirectUrl %></a></td>
                        <td><%= url.visitHistory.length %></td>
                    </tr>   
                <% }) %>
            </tbody>
         </table>
        <% } %>
    </div>
</body>
</html>